.borderWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.borderRight {
  transform: rotate(90deg);
}

.borderWrapper div {
  height: 7px;
  display: flex;
}

.borderWrapper div svg path {
  transition: stroke 0.5s ease-in-out;
}
