.fixPresale {
  display: flex;
  padding: 80px 0 108px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  background: radial-gradient(
    40.79% 76.73% at 50% 49.93%,
    #12273a 0%,
    #080808 100%
  );
  position: relative;
  height: 100vh;
}

.fixPresaleText {
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.fixPresaleTitle {
  color: #fff;
  max-width: 400px;
}

.fixBtn {
  z-index: 44;
}

.glow {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 484.001px;
  height: auto;
}

.fixPresaleCards {
  position: relative;
  height: 329px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: -90px;
  width: 700px;
}

.cardsImage {
  position: relative;
  max-width: 522.5px;
  height: auto;
}

.card {
  display: flex;
  max-width: 238px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
}

.card1 {
  left: -60px;
  top: 105px;
}

.card2 {
  left: 50%;
  transform: translate(-55%, 0);
  bottom: -90px;
}

.card3 {
  right: -100px;
  bottom: -33px;
}

.cardTitle {
  color: rgba(255, 255, 255, 0.6);
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 22.5px */
}

.cardSubtitle {
  color: rgba(255, 255, 255, 0.4);
  font-family: "IBM Plex Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}

.cardNum {
  display: none;
  width: 32px;
  height: 32px;
}

.cardsWrapperMob {
  display: none;
}

@media (min-width: 1600px) {
  .fixPresale {
    max-height: 1000px;
  }
}

@media (max-width: 1285px) {
  .fixPresale {
    padding: 75px 0 90px 0;
  }

  .fixPresaleTitle {
    max-width: 350px;
  }
}

@media (max-width: 1024px) {
  .fixPresaleTitle {
    max-width: 300px;
  }

  .fixPresale {
    padding: 70px 0 80px 0;
    height: 100%;
  }

  .fixPresaleCards {
    width: 600px;
  }

  .cardsImage {
    max-width: 422.5px;
  }

  .card1 {
    left: -70px;
    top: 113px;
  }

  .card2 {
    left: 50%;
    transform: translate(-55%, 0);
    bottom: -90px;
  }

  .card3 {
    right: -70px;
    bottom: -25px;
  }

  .card {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .fixPresale {
    padding: 60px 0 40px 0;
  }

  .fix {
    gap: 36px;
  }

  .glow {
    right: auto;
    left: 0;
  }

  .cardsImage {
    max-width: 326px;
    height: auto;
  }

  .fixPresaleCards {
    height: auto;
    top: -55px;
  }

  .cardSubtitle,
  .cardTitle {
    display: none;
  }

  .cardNum {
    display: flex;
  }

  .card1 {
    left: 154px;
    top: 157px;
  }

  .card2 {
    left: 39%;
    transform: translate(-50%, 0);
    bottom: auto;
    top: 40px;
  }

  .card3 {
    right: 140px;
    bottom: 30px;
  }

  .cardsWrapperMob {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    width: 100%;
    margin-top: -100px;
  }

  .cardMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 24px;
    padding-top: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .cardsWrapperMob:nth-child(3) {
    padding-bottom: 0px;
  }

  .cardTop {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .cardSubtitleMob,
  .cardTitleMob {
    display: flex;
  }

  .cardSubtitle {
    max-width: 238px;
  }
}
