.neverWrapper {
  background: #f7f7f7;
}

.never {
  display: flex;
  align-items: flex-start;
  gap: 180px;
  overflow: hidden;
  position: relative;
  height: 494px;
  margin-inline: auto;
}

.neverLine {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, 0);
  width: 1px;
  height: 100%;
  background-color: rgba(8, 8, 8, 0.2);
}

.neverCardLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  position: relative;
}

.fadeInLeft {
  opacity: 1;
  transform: translateY(0);
}

.fadeOutLeft {
  opacity: 0;
  transform: translateY(10px);
}

.neverCardLeftContent {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  align-self: stretch;
}

.neverCardLeftTexts {
  display: flex;
  max-width: 447px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.neverCardLeftTitle {
  color: #080808;
  font-family: Sora;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.neverCardLeftSubtitle {
  color: rgba(8, 8, 8, 0.4);
  font-family: "IBM Plex Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}

.neverCardLeftImg {
  width: 394px;
  height: auto;
  position: absolute;
  bottom: -80px;
  right: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
}

.neverCardLeftPags {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagDot {
  width: 40px;
  height: 2px;
  flex-shrink: 0;
  background: rgba(148, 148, 148, 0.38);
  cursor: pointer;
}

.activeDot {
  background: linear-gradient(270deg, #a5c6e2 35.48%, #36a1ff 100%), #d9d9d9;
}

.neverCardRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}

.neverCardRightTypes {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.neverCardRightType {
  display: flex;
  padding: 11px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(8, 8, 8, 0.3);
  background-color: transparent;

  color: rgba(8, 8, 8, 0.4);
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.neverCardRightType.activeTab {
  border-bottom: 1px solid #1f4464;
  background: #dee8f1;
  color: #080808;
  letter-spacing: -0.32px;
}

.neverCardRightWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.fadeOut {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.neverCardRightContent {
  display: flex;
  padding: 24px 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 0.4px solid #080808;
  cursor: pointer;
}

.neverCardRContTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  width: 100%;
}

.neverCardRContTitle {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  color: rgba(8, 8, 8, 0.8);
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.neverCardRContIcon {
  height: 20px;
  width: 20px;
}

.neverCardRArrow {
  transition: all 0.2s ease-in-out;
}

.neverCardRArrow.arrowOpen {
  transform: translateX(-10px) rotate(90deg);
}

.neverCardRArrow.arrowOpen img {
  filter: invert(55%) sepia(94%) saturate(7500%) hue-rotate(190deg)
    brightness(95%) contrast(101%);
}

.neverCardRContSubtitle {
  color: rgba(8, 8, 8, 0.4);
  font-family: "IBM Plex Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.neverCardRContSubtitle.subtitleOpen {
  max-height: 200px;
  opacity: 1;
  margin-top: 16px;
}

@media (min-width: 1600px) {
  .never {
    justify-content: space-between;
    max-width: none;
  }

  .neverCardRight,
  .neverCardLeft {
    max-width: 900px;
  }
}

@media (max-width: 1285px) {
  .never {
    gap: 90px;
  }

  .neverCardLeftImg {
    width: 300px;
  }
}

@media (max-width: 1024px) {
  .neverCardLeftTitle {
    font-size: 30px;
  }

  .never {
    flex-direction: column;
    height: 100%;
    gap: 40px;
  }

  .neverLine {
    transform: translate(0, 0%);
    position: relative;
    height: 2px;
    right: 20px;
    width: 120%;
  }

  .neverCardLeft {
    flex: auto;
    gap: 32px;
  }

  .neverCardLeftImg {
    bottom: 0;
    right: -120px;
  }
}

@media (max-width: 768px) {
  .neverCardLeftImg {
    bottom: -50px;
    width: 244px;
  }
}
